In [62]:
# importing packages
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from numpy.linalg import cond, matrix_rank, norm
from scipy.linalg import inv, solve, det, eig, lu, eigvals
from sklearn.metrics import confusion_matrix

In [172]:
#importing data
BL = pd.read_csv('Data/BankLending.csv')
cons = pd.read_csv('Data/Consumption.csv')
gdp = pd.read_csv('Data/GDP_ExpenditureBased.csv')
hstarts = pd.read_csv('Data/HousingStarts.csv')
ceer = pd.read_csv('Data/CEER_MONTHLY_NOMINAL-sd-1990-01-01.csv') #Canadian Effective Exchange Rate - monthly nominal
fin_ind = pd.read_csv('Data/s&p, tbills.csv')

In [180]:
filtered_BL = BL[BL['Components'].isin(['Total, funds advanced, residential mortgages, insured 7', 'Total, funds advanced, residential mortgages, uninsured 7',
                                     'Total, funds advanced, variable rate mortgages', 'Total, funds advanced for non-mortgage loans, consumer credit', 
                                     'Total, funds advanced, business loans 8'])].reset_index(drop=True)
BL = filtered_BL.set_index('Components').T
BL.head()

Components,"Total, funds advanced, residential mortgages, insured 7","Total, funds advanced, residential mortgages, uninsured 7","Total, funds advanced, variable rate mortgages","Total, funds advanced for non-mortgage loans, consumer credit","Total, funds advanced, business loans 8"
13-Jan,"5,880","9,995",..,"13,228","49,644"
13-Feb,"6,195","9,858",..,"13,380","45,634"
13-Mar,"7,259","11,546",..,"13,597","50,715"
13-Apr,"9,716","14,714",..,"16,903","56,562"
13-May,"10,519","16,888",..,"17,221","70,087"

In [179]:
cons.head()
filtered_cons = cons[cons['Estimates'].isin(['Household final consumption expenditure'])].reset_index(drop=True)
cons1 = filtered_cons.set_index('Estimates').T
cons1.head()

Estimates Household final consumption expenditure
Q1 2016                                   285,296
Q2 2016                                   286,760
Q3 2016                                   289,033
Q4 2016                                   292,579
Q1 2017                                   296,967

In [178]:
filtered_gdp = gdp[gdp['Estimates'].isin(['Gross domestic product at market prices'])].reset_index(drop=True)
GDP = filtered_gdp.set_index('Estimates').T
GDP.head()

Estimates Gross domestic product at market prices
Q1 2016                                 1,949,923
Q2 2016                                 1,940,335
Q3 2016                                 1,960,344
Q4 2016                                 1,971,351
Q1 2017                                 1,992,778